asciimatics==1.10.0
certifi==2018.8.24
future==0.16.0
numpy==1.22.0
pandas==0.23.4
Pillow==5.3.0
pyfiglet==0.7.5
pypiwin32==223
python-dateutil==2.7.3
pytz==2018.5
pywin32==224
six==1.11.0
tabulate==0.8.2
wcwidth==0.1.7
wincertstore==0.2
xlrd==1.1.0
